li > img {
    display: flex;
   justify-content: center;
    width: 300px;
    padding: 10px;
    margin: auto;
   
}

#gallery{
    list-style: none;
}

#validation-input {
    
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }